<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
        <script is:inline src="/script.js"></script>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TEST</title>
	</head>
	<body>
		<h1>hi</h1>
        <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
	</body>
</html>
